{{#if signupSuccess}}
    <script>
        Swal.fire({
            title: 'El usuario ha sido creado',
            icon: 'success'
        });
    </script>
{{/if}}

<form method="POST" action="/api/sessions/login">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" autocomplete="email" required>

    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password" autocomplete="current-password" required>

    <button type="submit">Iniciar Sesion</button>
</form>

<a href="api/sessions/github" class="github-login-button">Iniciar sesión con GitHub</a>